.header {
}

.container {
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  p {
    line-height: 1.687;
    margin-bottom: 1em;
  }

  width: 465px;
}

.header__title {
  margin-right: -160px;
  font-size: 54px;
  margin-bottom: 25px;
  font-weight: 700;
  line-height: 1.46;
  position: relative;
  z-index: 9;
}


.header__img {
}